$color-white: #fdfdfd;
$color-black: #282c34;

/* Gray */
$color-gray-background: #f5f5f5;
$color-gray-border: #d8d8d8;
$color-gray-dark: #838383;

/* Green */
$color-green: #14c514;

/* Red */
$color-red: #f94f4f;
$color-orange: #f9a203;


/* Blue */
$color-blue: #cce9ff;
$color-blue-dark: #364c5d;